<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>易县旅游网</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link type="text/css" rel="stylesheet" href="Application/Home/View/index/index.css">
    </head>
    <body>
        <div class="navigation">
            <div class="nav-content">
                <nav class="main-nav">
                    <ul>
                        <li><a>首页</a></li>
                        <li><a>攻略</a></li>
                        <li><a>易县美食</a></li>
                        <li><a>易县特产</a></li>
                        <li><a>路线</a></li>
                        <li><a>问答</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <h1 class="address">易县</h1>
        <div class="m-photo">
            <img src="Public/img/易水湖3.jpg" height="334" width="500">           
        </div>
        
        
        <p class="split">易县旅游热门目的地</p>
        <div class="m-nearby">
            
        <ul>
            <li>
                <img src="Public/img/易水湖3.jpg" height="128" width="224">
                <h3 class="name">易水湖</h3>
            </li>
            <li>
                <img src="Public/img/易水湖3.jpg" height="128" width="224">
                <h3 class="name">清西陵</h3>
            </li>
            <li>
                <img src="Public/img/易水湖3.jpg" height="128" width="224">
                <h3 class="name">狼牙山</h3>
            </li>
            <li>
                <img src="Public/img/易水湖3.jpg" height="128" width="224">
                <h3 class="name">云蒙山</h3>
            </li>
            <li>
                <img src="Public/img/易水湖3.jpg" height="128" width="224">
                <h3 class="name">紫荆关</h3>
            </li>
            <li>
                <img src="Public/img/易水湖3.jpg" height="128" width="224">
                <h3 class="name">荆轲塔</h3>
            </li>
            <li>
                <img src="Public/img/易水湖3.jpg" height="128" width="224">
                <h3 class="name">千佛山森林公园</h3>
            </li>
            <li>
                <img src="Public/img/易水湖3.jpg" height="128" width="224">
                <h3 class="name">洪崖山</h3>
            </li>
        </uL>  
        </div>
       
        <div class="float">
            <p>开发参照<a href="http://www.mafengwo.cn/travel-scenic-spot/mafengwo/12711.html">马蜂窝云南页面</a>
        </p>
        </div>
        
    </body>
</html>
