body {
    font-size: 12px;
    font-family: verdana; 
}
.navigation {
    height: 46px;
    background-color: #FFA800;
}
.nav-content {
    margin: 0px auto;
    width: 980px;
}
.nav-content .main-nav {
    margin: 0px 0px 0px 30px;
    height: 46px;
    font-size: 16px;
    color: #FFF;
    line-height: 26px;
}
.nav-content .main-nav a {
    display: block;
    padding: 10px 6px;
    color: #FFF;
}
.nav-content .main-nav li {
    float: left;
    display: inline;
    margin-right: 30px;
}
h1 {
    //display: inline;
    margin-left: 40px;
}
.m-photo {
    float: left;
    width: 680px;
    margin-left: 40px;
    margin-bottom: 30px;
    height: 370px;
    position: relative;
    overflow: hidden;
}

.m-photo img {
    vertical-align: middle;
}

.split{
    clear: both;
    margin-left: 40px;
}

.test ul li {
    float: left;
    width: 240px;
    height: 178px;
}
.m-nearby {
    width: 1100px;
    margin-right: 0px;
}
.m-nearby ul li {
    float: left;
    width: 240px;
    height: 178px;
    
}
.float {
    clear: both;  
}
