body {
    font-size: 12px;
    font-family: verdana; 
}
.navigation {
    height: 46px;
    background-color: #FFA800;
}
.nav-content {
    margin: 0px 10% 0px 4.2% ;
    //width: 980px;
}
.nav-content .main-nav {
    margin: 0px 0px 0px 30px;
    height: 46px;
    font-size: 16px;
    color: #FFF;
    line-height: 26px;
}
.nav-content .main-nav a {
    display: block;
    padding: 10px 6px;
    color: #FFF;
}
.nav-content .main-nav li {
    float: left;
    display: inline;
    margin-right: 30px;
}
h1 {
    //display: inline;
    margin-left: 10%;
}
.m-photo {
    //float: left;
    width: 980px;
    margin-left: 10%;
    margin-bottom: 30px;
    height: 370px;
    clear: both;
}

.m-photo img {
    vertical-align: middle;
}

.split{
    clear: both;
    margin-left: 10%;
    font-size: 15px;
    font-weight: normal;
}

.test ul li {
    float: left;
    width: 240px;
    height: 178px;
}
.m-nearby {
    width: 980px;
    margin-right: 10px;
    margin-left: 4.6%
}
.m-nearby ul{
    margin: 0px 0px 0px 0px;
}

.m-nearby ul li {
    float: left;
    display: inline;
    margin: 0px 0px 20px 28px;
    width: 224px;
    height: 178px;
    line-height: 20px;
}
.m-nearby ul li img{
    vertical-align: middle;
}

.float {
    clear: both;  
}
