body {
    font-size: 12px;
    font: 12px Arial,"Microsoft Yahei","微软雅黑",Tahoma,Helvetica,STHeiti,"Hiragino Sans GB";
    color: #666;
}
.all {
    margin-left: auto;
    margin-right: auto;
}
body ,p, div {
    word-break: break-all;
    word-wrap: break-word;
}
html, body, div, span, h1, h2, h3, h4, h5, h6, p, blockquote, a, abbr, cite, dfn, em, img, ins, s, strong, b, u, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, section, summary, time, mark, audio, video {
    margin: 0px;
    padding: 0px;
    border: 0px none;
}

.navigation {
    height: 46px;
    background-color: #FFA800;
}
.nav-content {
    margin: 0px 10% 0px 10% ;
}
.nav-content .main-nav {
    margin: 0px 0px 0px 0px;
    height: 46px;
    font-size: 16px;
    color: #FFF;
    line-height: 26px;
}
.nav-content .main-nav a {
    display: block;
    padding: 10px 6px;
    color: #FFF;
}
.nav-content .main-nav li {
    float: left;
    display: inline;
    margin-right: 30px;
}
.address {
    //display: inline;
    margin: 10px 0px 10px 10%;
}

.first-screen  {
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
.m-photo {
    float: left;
    width: 680px;
    position: relative;
    margin-left: 10%;
    margin-right: 0px;
    margin-bottom: 30px;
    height: 370px;
}

.m-photo img {
    vertical-align: middle;
}
.p-aside {
    width: 270px;
    margin-right: 12%;
    margin-left: 850px;
}
.p-aside .hd{
   height: 30px;
   margin: 0px 0px 10px 0px;
   font-size: 12px;
   color: #666;
   line-height: 40px;
}
.p-aside .bd{
    margin-left: auto;
    margin-right: 0px;
    overflow:hidden; 
    border: 1px;
}

.m-map .hd h2 {
    //margin: 0px 0px 0px0px;
    float: left;
}

.m-map .hd a {
    margin: 0px 0px 0px0px;
    float: right;
    font-size: 12px;
    color: #0A89E4;
}

#container {
    clear: both;
    width:260px;
    height:160px;
    border:1px solid gray
}

.split{
    clear: both;
    margin: 0px 0px 10px 10%;
    font-size: 15px;
    font-weight: normal;
}

.test ul li {
    float: left;
    width: 240px;
    height: 178px;
}
.m-nearby {
    //width: 980px;
    //margin-right: 10%;
    margin-left: 10%;
}
.m-nearby ul{
    //margin: 0px 0px 0px 0px;
    overflow: hidden;
}

.m-nearby ul li {
    float: left;
    display: inline;
    margin: 0px 33px 20px 0px;
    width: 224px;
    height: 178px;
    line-height: 20px;
}
.m-nearby ul li img{
    vertical-align: middle;
}

.m-nearby ul li .name{
    margin: 10px 10px 10px 0px;
}


.float {
    clear: both;  
}
